<div class="row">
    {% for member in board %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card bg-dark" style="margin-top:.75rem;">
            {% if member.name != 'none' %}
                <img class="card-img-top" src="{{ asset(member.img) }}">
            {% endif %}
            <div class="card-body">
                {% if member.name != 'none' %}
                    <h4 class="card-title">{{ member.name }}</h4>
                {% endif %}
                <h6 class="card-subtitle mb-2 text-muted">{{ member.position }}</h6>
                <p class="card-text">
                    {% if member.username is defined %}
                        {{ member.username }} <br>
                    {% endif %}
                    {% if member.email is defined %}
                        {{ member.email }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>