{% extends 'base.html.twig' %}

{% block title %} EGS Winter LAN 2017 {% endblock %}

{% block content %}
    <div id="content">
        <h1 class="LansH1">EGS Winter LAN 2017</h1>
        <center id="LAN">
            <p id="LansDetail">
                EGS Winter LAN 2017 is a gamer's dream come true! At this 200-man LAN (BYOC) there will be many activities, tournaments, games, and surprises! Take a look at the schedule to find out when and what is happening!
            </p>
            <h2 class="LansH2">Important Information</h2>
            <p id="LansDetail">
                <b>Dates:</b> November 18th at 11:00AM to November 19th at 3:00PM<br>
                <b>Non-member price</b>: $16<br>
                <b>Members price:</b> $11<br>
                <b>Where:</b> The SAU Cafeteria<br>
                <b><a href="#rules" class="rules-link">Rules</a></b>
            </p>
            <br>
            <h2 class="LansH2">Tickets</h2>
            <p id="LansDetail">
                Tickets can be purchased online, in person at the Gene Polisseni Center box office, or in person at the door. For members to get the reduced ticket price, they will need to buy their tickets at the Polisseni Center box office
            </p>
            <br>
            <h2 class="LansH2">Tournament List</h2>
            <p id="LansDetail">
                <b>Overwatch</b><br>
                <b>Heroes of the Storm</b><br>
                <b>Smash</b><br>
                <b>Pokemon Showdown</b><br>
            </p>
            <br>
            <h2 class="LansH2">Schedule</h2>
            <p id="LansDetail">
                <h3 class="LansH3">Saturday</h3>
                <h3 class="LansH3">Anytime - TF2</h3>
                <h3 class="LansH3">Anytime - Player Unknowns Battlegrounds</h3>
                <h3 class="LansH3">1:00PM to 3:00PM - Jackbox w/ Streaming</h3>
                <h3 class="LansH3">4:00PM to Midnight - Overwatch Tournament</h3>
                <h3 class="LansH3">(18th) 10:00PM to (19th) 2:00AM - Heroes of the Storm Tournament</h3>
                <br><br>
                <h3 class="LansH3">Sunday</h3>
                <h3 class="LansH3">Midnight to 5:00AM - Smash Tournament</h3>
                <h3 class="LansH3">9:00AM to 1:00PM - Pokemon Showdown Tournament</h3>
                <h3 class="LansH3">2:00PM - GG Giveaway</h3>
            </p>
            <br>
            <h2 class="LansH2" id="rules">Rules</h2>
                <p id="LansDetail" style="font-size: 16px;">
                    You must bring your own power strip<br>
                    You must bring your own ethernet cable<br>
                    No monitors over 30"<br>
                    Only 1 monitor per person<br>
                    No daisy chaining power strips<br>
                    Headphones only - no speakers<br>
                    <b>No cheating - Cheaters will be removed from the LAN</b>
                </p>
            <br>
            <h2 class="LansH2">Sponsors</h2>
            <table>
                <tr>
                    <td><a href="http://www.trendnet.com/home"><img class="trendnet-sponsor" src="{{ asset('images/sponsors/trendnet.jpg') }}"></a></td>
                </tr>
            </table>
            <br><br>
        </center>
    </div>
{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/websiteStyles2.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/homepage/homepage.js') }}"></script>
{% endblock %}
