{% extends 'base.html.twig' %}

{% block title %} EGS Spring LAN 2017 {% endblock %}

{% block content %}
    <div id="content">
        <h1 class="LansH1">EGS Spring LAN 2017</h1>
        <center id="LAN">
            <p id="LansDetail">
                <img src="{{ asset('images/Events/LAN/Facebook-Event-Banner-PNG.png') }}" style="width: 50%"><br><br>
                <b>CALLING ALL GAMERS!</b><br><br>

                We will be hosting our annual Spring LAN and gaming party on Sunday, February 11th from 10am to 10pm.  We will be hosting an assortment of tournaments and events (and a free pizza dinner!) A limited amount of PCs (approx. 60) will be provided on a first-come-first-serve basis.*<br><br>

                Let us know you’re coming. RSVP to our Facebook Event<br><br>

                <sub>*For anyone interested in bringing their own set-up, please note that we have a limited amount of space for extra computers. Said space may not be available until 3pm.</sub>
            </p>
            <h2 class="LansH2">Important Information</h2>
            <p id="LansDetail">
                <b>Dates:</b> February 11th at 10:00AM to 10:00PM<br>
                <b>Where:</b>GOL 2435, GOL 2570<br>
                <b><a href="#rules" class="rules-link">Rules</a></b>
            </p>
            <br>
            <h2 class="LansH2">Tickets</h2>
            <p id="LansDetail">
                <b>Non-member price</b>: $5<br>
                <b>Members price:</b> $3<br>
                Tickets can be purchased at the door to the event.
            </p>
            <br>
            <h2 class="LansH2">Tournament List</h2>
            <p id="LansDetail">
                <b>League of Legends</b><br>
                <b>Heroes of the Storm</b><br>
                <b>Super Smash Bros.</b><br>
                <b>Fighting Games Tournaments (Blazblue, Dragon Ball FighterZ)</b><br>
            </p>
            <br>
            <h2 class="LansH2">Events</h2>
            <p id="LansDetail">
                In addition to prized tournaments, we will be hosting a variety of other events such as speedrun streaming, Overwatch, PlayerUnknown's Battleground, Starwhal, and so much more!
            </p>
            <br>
            <h2 class="LansH2">Schedule</h2>
            <p id="LansDetail">
                <h3 class="LansH3">TBA</h3>
            </p>
            <br>
            <h2 class="LansH2" id="rules">Rules</h2>
                <p id="LansDetail" style="font-size: 16px;">
                    <b>No cheating - Cheaters will be removed from the LAN</b><br>
                    Headphones/earbuds must be used at all time, no speakers<br>
                    <ul>
                        <li>PCs will be provided but headphones/earbuds will not. You must bring your own headphones/earbuds.</li>
                        <li>You may also bring your own peripherals (mouse, keyboard) if you would like, but it is not necessary</li>
                    </ul>
                    Be respectful of equipment that is not yours<br>
                    If you choose to bring your own PC:<br>
                    <ul>
                        <li>You must bring your own power strip</li>
                        <li>You must bring your own ethernet cable</li>
                        <li>No monitors over 30"</li>
                        <li>Only 1 monitor per person</li>
                        <li> No daisy chaining power strips</li>
                        <li>Please be aware that we have a limited amount of space for attendees to bring their PCs and we may not be able to provide such space until 3:00pm</li>
                </p>
            <!--<br>
            <h2 class="LansH2">Sponsors</h2>
            <table>
                <tr>
                    <td><a href="http://www.trendnet.com/home"><img class="trendnet-sponsor" src="{{ asset('images/sponsors/trendnet.jpg') }}"></a></td>
                </tr>
            </table>-->
            <br><br>
        </center>
    </div>
{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/websiteStyles2.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/homepage/homepage.js') }}"></script>
{% endblock %}
