{% extends 'base.html.twig' %}

{% block title %} EGS Legends: LAN of the Wild {% endblock %}

{% block content %}
    <div id="content">
        <h1 class="LansH1">EGS Legends: LAN of the Wild</h1>
        <p id="LansDetail">
            EGS Legends: LAN of the Wild is a gamer's dream come true! At this 200-man LAN (BYOC) there will be many activities, tournaments, games, and surprises! Take a look at the schedule to find out when and what is happening!
        </p>
        <center id="LAN">
            <h2 class="LansH2">Important Information</h2>
            <p id="LansDetail">
                <b>Dates:</b> September 23rd at 11:00AM to September 24th at 3:00PM<br>
                <b>Non-member price</b>: $16<br>
                <b>Members price:</b> $11<br>
                <b>Where:</b> The SAU Cafeteria<br>
                <b><a href="#rules" class="rules-link">Rules</a></b>
            </p>
            <br>
            <h2 class="LansH2">Tickets</h2>
            <p id="LansDetail">
                Tickets can be purchased online <a href="https://goo.gl/RqhPS9" class="rules-link">here</a>, in person at the Gene Polisseni Center box office, or in person at the door. For members to get the reduced ticket price, they will need to buy their tickets at the Polisseni Center box office
            </p>
            <br>
            <h2 class="LansH2">Tournament List</h2>
            <p id="LansDetail">
                <b>CS:GO</b><br>
                <b>DOTA2</b><br>
                <b>Blind Fighting</b><br>
                <b>Smash</b><br>
                <b>Rocket League</b>
            </p>
            <br>
            <h2 class="LansH2">Schedule</h2>
            <p id="LansDetail">
                <h3 class="LansH3">September 23rd</h3>
                <b>10:00AM</b> - Member opening<br>
                <b>11:00AM</b> - Public opening<br>
                <b>1:00PM to 4:30PM</b> - CS:GO Tournament<br>
                <b>2:00PM to 5:30PM</b> - Destiny 2 Feature<br>
                <b>6:30PM to 9:30PM</b> - DOTA2 Tournament<br>
                <b>7:00PM to 8:00PM</b> - Harddrive Shuffleboard<br>
                <b>8:00PM to 10:00PM</b> - Starwhal Feature<br>
                <b>10:00PM to 1:00AM (Sunday)</b> - Rhythm Games Feature<br>
                <b>11:00PM to 2:00AM (Sunday)</b> - Blind Fighting Tournament<br>
                <br>
                <h3 class="LansH3">September 24th</h3>
                <b>4:00AM to 6:30AM</b> - MS Paint Tournament<br>
                <b>6:30AM to 9:00AM</b> - Rocket League Tournament<br>
                <b>9:00AM to 12:00PM</b> - Smash Tournament<br>
                <b>11:30AM to 1:30PM</b> - Town of Salem Feature<br>
                <b>1:00PM to 2:30PM</b> - CS:GO Gungame<br>
            </p>
            <br>
            <h2 class="LansH2" id="rules">Rules</h2>
                <p id="LansDetail" style="font-size: 16px;">
                    You must bring your own power strip<br>
                    You must bring your own ethernet cable<br>
                    No monitors over 30"<br>
                    Only 1 monitor per person<br>
                    No daisy chaining power strips<br>
                    Headphones only - no speakers<br>
                    <b>No cheating - Cheaters will be removed from the LAN</b>
                </p>
            <br>
            <h2 class="LansH2">Sponsors</h2>
            <table>
                <tr>
                    <td>
                        <a href="http://www.velocitymicro.com">
                            <img src="{{ asset("images/Events/LAN/sponsors/vm03.png") }}"/>
                        </a>
                    </td>
                    <!--<td> Placeholder
                        <div style="width:300px; height:250px;"></div>
                    </td>-->
                </tr>
            </table>
            <br><br>
        </center>
    </div>
{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/websiteStyles2.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/homepage/homepage.js') }}"></script>
{% endblock %}
