{% extends 'base.html.twig' %}

{% block title %} LANs {% endblock %}

{% block content %}
    <h1>LANs</h1>
    <p>
        EGS hosts three 24+ hour LAN parties that are scheduled in the Fall, Winter, and Spring.
        Come find a spot to game with your fellow community members and enjoy our tournaments, 'out of game' games, streams, and the famous GG Giveaway featuring swag and hardware from the EGS Sponsors!
        Be sure to BYOC, ethernet cable, and surge protector!
    </p>
    <h1>Upcoming LANs</h1>
    <h1>Past LANs</h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <a href="{{ asset('images/Events/U1.png') }}">
                <img class="img-fluid" src="{{ asset('images/Events/U1.png') }}" alt="">
            </a>
        </div>
        <div class="col-12 col-md-6">
            <a href="{{ asset('images/Events/L1.jpg') }}">
                <img class="img-fluid" src="{{ asset('images/Events/L1.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-12 col-md-6">
            <a href="{{ asset('images/Events/L2.jpg') }}">
                <img class="img-fluid" src="{{ asset('images/Events/L2.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-12 col-md-6">
            <a href="{{ asset('images/Events/L3.jpg') }}">
                <img class="img-fluid" src="{{ asset('images/Events/L3.jpg') }}" alt="">
            </a>
        </div>
    </div>
{% endblock %}