{% extends 'base.html.twig' %}

{% block title %} Weeklies {% endblock %}

{% block content %}
    <h1>Weeklies</h1>
    <p>
        EGS Weekly refers to our game nights that are every Wednesday at 8PM in the SAU Al Davis Room.
        Each week, either a new, indie, or requested game is featured among the our various games that are set up on our consoles, projectors, and televisions.
        During these hours, often EGS Communities will meet and participate in their specified special interest game whether it be Rhythm Gaming, DOTA 2, League of Legends, Blizzard games, etc.
        Everyone is welcome to kick back, unwind, and play video games with us!
    </p>
    <h1>Upcoming Weeklies</h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <a href="{{ asset('images/Events/Weeklies/EGS_ARMS WEEKLY.png') }}">
                <img class="img-fluid" src="{{ asset('images/Events/Weeklies/EGS_ARMS WEEKLY.png') }}" alt="">
            </a>
        </div>
        <div class="col-12 col-md-6">
            <a href="{{ asset('images/Events/T3.jpg') }}">
                <img class="img-fluid" src="{{ asset('images/Events/T3.jpg') }}" alt="">
            </a>
        </div>
    </div>
    <h1>Past Weeklies</h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <a href="{{ asset('images/Events/W1.jpg') }}">
                <img class="img-fluid" src="{{ asset('images/Events/W1.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-12 col-md-6">
            <a href="{{ asset('images/Events/W2.jpg') }}">
                <img class="img-fluid" src="{{ asset('images/Events/W2.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-12 col-md-6">
            <a href="{{ asset('images/Events/W3.jpg') }}">
                <img class="img-fluid" src="{{ asset('images/Events/W3.jpg') }}" alt="">
            </a>
        </div>
    </div>
{% endblock %}